<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eduaidx - Assignment Helpers</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/2.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <%- include('partials/header'); -%>

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5" >
        <div class="owl-carousel header-carousel position-relative" >
            <!-- Article Writing -->
            <div class="owl-carousel-item position-relative">
                <img style="max-height: 90vh;" class="img-fluid" src="img/carousel-1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">Dissertation & Thesis Help</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Expert Guidance for Your Research Projects</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Benefit from professional help while preparing your dissertation, or research project.</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                                <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Get Help Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    
            <!-- Classes and Course Management -->
            <div class="owl-carousel-item position-relative">
                <img style="max-height: 90vh;" class="img-fluid" src="img/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">Online Class & Course Management</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Have a helping hand with all your online classes</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Benefit from your own Virtual Assistant ready to help you with all your exams, assessments and group discussions.</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                                <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Chat with a Tutor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Assignment Help -->
            <div class="owl-carousel-item position-relative">
                <img style="max-height: 90vh;" class="img-fluid" src="img/carousel-3.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">Assignment Help Services</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Your tutor is just one click away</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Consult one of our expert writers to expertly prepare, edit, or proofread your assignment before the due date.</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                                <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Write my Paper</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Website Development -->
            <div class="owl-carousel-item position-relative">
                <img style="max-height: 90vh;" class="img-fluid" src="img/carousel-4.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">Coding & Programming Homework Help</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Work with one of our current developers to create expert solutions for your class project</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Create web apps, SAAS, websites, AI, etc from a wide aray of languages such as (JavaScript | C Sharp | React | Node Js etc).</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Request Sample Projects</a>
                                <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Chat with a Developer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <%- include('component/assignmenttypes') %>
    </div>
    
    <!-- Service End -->


    <!-- About Start -->
    <%- include('component/about'); -%>
    <!-- About End -->


    <!-- Fact Start -->
    <%- include('component/numbers'); -%>
    <!-- Fact End -->


    <!-- Service Start -->
    <div class="container-fluid py-5 px-4 px-lg-0">
        <div class="row g-0">
            <div class="col-lg-3 d-none d-lg-flex">
                <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                    <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">15 Years Experience</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="ms-lg-5 ps-lg-5">
                    <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="text-secondary text-uppercase">Our Services</h6>
                        <h1 class="mb-5">Explore Our Services</h1>
                    </div>
                    <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-file-alt fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Assignment Help</h4>
                            <p>Get a high scoring paper, that is custom made for you, and free of any AI or Plagiarized content.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Well-Researched</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>On-Time</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Free similarity reports</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-chalkboard-teacher fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Help with Online Classes</h4>
                            <p>Benefit from a Virtual Assistant that keeps up with your online course requirements, and updates them for you diligently.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Easy Management</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Weekly Updates</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Support 24/7</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-tasks fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Dissertation & Thesis</h4>
                            <p>Work with a well-experienced, and vastly published researcher to get your dissertation or thesis done. Recieve updates per milestone completed, as agreed before the research work commences</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Expert Assistance</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Plagiarism Free</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>On-Time Delivery per milestone</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-code fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Coding Homework and Projects</h4>
                            <p>We specialize in building responsive, custom web applications for varried purposes as required by your class project needs.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Responsive Design</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>SEO Optimized</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Full Support</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Service End -->


    <!-- Booking Start -->
   
    <!-- Booking End -->


    <!-- Team Start -->
    <%- include('component/ourTeam'); -%>
    
    <!-- Team End -->


    <!-- Testimonial Start -->
    <%- include('component/testimonials'); -%>
    <%- include('partials/footer'); -%>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>